html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  
  /* Navegador del haeder */
  
  .navbar {
    padding: 0;
  }
  .navbar-content {
    background-color: rgb(5, 5, 63);
  }
  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .navbar-brand:hover {
    color: white;
  }
  
  .logo-del-header {
    max-width: 100px;
  }

  
  /* Pagina del index del incio */
  .pagina-de-inicio {
    background-image: url(../Imagenes/marketdigitalmain.jpg);
    height: 85vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .titulo-del-inicio {
    font-size: 7rem;
    color: white;
    padding-bottom: 1rem;
    text-shadow: 3px 3px 10px rgb(35, 48, 193);
  }
  
  .ir-a-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 18rem;
    height: 5rem;
    border: none;
    border-radius: 10px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .ir-a-productos:hover {
    box-shadow: 2px 2px 20px 12px rgb(35, 48, 193);
  }
  .pie-de-pagina-de-index {
    color: white;
    background-color: rgb(5, 5, 63);
    display: flex;
    justify-content: space-around;
    text-align: start;
    bottom: 0; /* Fija el pie de página en la parte inferior de la ventana */
    width: 100%; /* Ajusta el ancho al 100% de la ventana */
    position: absolute;
    padding: 1rem;
  }
  
  /* Pagina de productos */
  
  /* Titulo de nuestros productos, empezando el main */
  
  main {
    background-image: url(../Imagenes/space-fondo-body.jpg);
    display: flex;
    flex-direction: column;
  }
  
  .titulo-divisor {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #a0a0a0;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
  
  .container {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }
  .filter-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(35, 48, 193);
  }
  .consultas-boton {
    text-decoration: none;
    color: black;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px; /* Espaciado entre tarjetas */
    margin-top: 20px;
    transition: 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
  }
  .filter-btn {
    border-radius: 12px;
    background-color: #ccc;
  }
  
  .card-body {
    padding: 15px;
    text-align: center;
  
  }
  .card-title{
    font-weight: bold;
  }
  .vaporizadores {
    display: flex;
    justify-content: center;
    animation-delay: 2s;
  }
  .carta-vaporizadores {
    width: 80%;
  }
  .celulares-contenedor {
    display: flex;
    justify-content: center;
  }
  .celulares-4 {
    width: 70%;
  }
  .iphone14-15 {
    display: flex;
    justify-content: center;
  }
  .airpods-contenedor {
    display: flex;
    justify-content: center;
  }
  .airpods {
    width: 70%;
    justify-content: center;
  }
  .cargador-tipo-c {
    display: flex;
    justify-content: center;
  }
  .cargador {
    width: 70%;
    justify-content: center;
  }
  .cargador-portatil {
    display: flex;
    justify-content: center;
  }
  .imagen-cargador-portatil {
    width: 200px;
    height: 200px;
  }
  .enlace-a-whatsapp {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 30px;
    bottom: 75px;
  }
  .logo-de-whatsapp,
  .logo-de-instagram {
    width: 80px;
  }
  footer{
    background-color: rgb(5, 5, 63);
    padding: 1.3rem;
  }
  .titulo-del-footer{
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 280px){

    .navbar-brand h3{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bolder;
      }

    .pagina-de-inicio {
      background-image: url(../Imagenes/marketdigitalmain.jpg);
      background-position: center;
      height: 85vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .titulo-del-inicio {
      font-size:2rem;
      color: white;
      padding-bottom: 1rem;
      text-shadow: 3px 3px 10px rgb(35, 48, 193);
    }
    
    .ir-a-productos {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      width: 12rem;
      height: 3rem;
      border: none;
      border-radius: 10px;
      font-family: "Kdam Thmor Pro", sans-serif;
      font-size: 1rem;
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
    .ir-a-productos:hover {
      box-shadow: 2px 2px 20px 12px rgb(35, 48, 193);
    }
    .pie-de-pagina-de-index {
      color: white;
      background-color: rgb(5, 5, 63);
      display: flex;
      justify-content: space-around;
      text-align: start;
      bottom: 0; /* Fija el pie de página en la parte inferior de la ventana */
      width: 100%; /* Ajusta el ancho al 100% de la ventana */
      padding: 0.5rem;
      position: absolute;
      bottom: 0;
    }
    .enlace-a-whatsapp {
      position: fixed;
      display: flex;
      align-items: center;
      flex-direction: column;
      right: 15px;
      bottom: 70px;
    }
    .logo-de-whatsapp,
    .logo-de-instagram {
      width: 50px;
      padding-top: 10px;
    }
}
  @media (min-width: 376px){
        .pagina-de-inicio {
          background-image: url(../Imagenes/marketdigitalmain.jpg);
          background-position: center;
          height: 85vh;
          background-size: cover;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .titulo-del-inicio {
          font-size:3rem;
          color: white;
          padding-bottom: 1rem;
          text-shadow: 3px 3px 10px rgb(35, 48, 193);
        }
        
        .ir-a-productos {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          width: 12rem;
          height: 3rem;
          border: none;
          border-radius: 10px;
          font-family: "Kdam Thmor Pro", sans-serif;
          font-size: 1rem;
          text-decoration: none;
          color: rgb(0, 0, 0);
        }
        .ir-a-productos:hover {
          box-shadow: 2px 2px 20px 12px rgb(35, 48, 193);
        }
        .pie-de-pagina-de-index {
          color: white;
          background-color: rgb(5, 5, 63);
          display: flex;
          justify-content: space-around;
          text-align: start;
          bottom: 0; /* Fija el pie de página en la parte inferior de la ventana */
          width: 100%; /* Ajusta el ancho al 100% de la ventana */
          padding: 0.5rem;
          position: absolute;
          bottom: 0;
        }
        .enlace-a-whatsapp {
          position: fixed;
          display: flex;
          align-items: center;
          flex-direction: column;
          right: 15px;
          bottom: 70px;
        }
        .logo-de-whatsapp,
        .logo-de-instagram {
          width: 50px;
          padding-top: 10px;
        }
  }
  @media (min-width: 576px) {
    .pagina-de-inicio {
      background-image: url(../Imagenes/marketdigitalmain.jpg);
      background-position: center;
      height: 85vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .titulo-del-inicio {
      font-size:5rem;
      color: white;
      padding-bottom: 1rem;
      text-shadow: 3px 3px 10px rgb(35, 48, 193);
    }
    
    .ir-a-productos {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      width: 15rem;
      height: 3rem;
      border: none;
      border-radius: 10px;
      font-family: "Kdam Thmor Pro", sans-serif;
      font-size: 1.2rem;
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
    .ir-a-productos:hover {
      box-shadow: 2px 2px 20px 12px rgb(35, 48, 193);
    }
    .pie-de-pagina-de-index {
      color: white;
      background-color: rgb(5, 5, 63);
      display: flex;
      justify-content: space-around;
      text-align: start;
      bottom: 0; /* Fija el pie de página en la parte inferior de la ventana */
      width: 100%; /* Ajusta el ancho al 100% de la ventana */
      padding: 0.5rem;
      position: absolute;
      bottom: 0;
    }
    .enlace-a-whatsapp {
      position: fixed;
      display: flex;
      align-items: center;
      flex-direction: column;
      right: 15px;
      bottom: 70px;
    }
    .logo-de-whatsapp,
    .logo-de-instagram {
      width: 50px;
      padding-top: 10px;
    }
  }
  @media (min-width: 768px) {
    .pagina-de-inicio {
      background-image: url(../Imagenes/marketdigitalmain.jpg);
      background-position: center;
      height: 85vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .titulo-del-inicio {
      font-size:5rem;
      color: white;
      padding-bottom: 1rem;
      text-shadow: 3px 3px 10px rgb(35, 48, 193);
    }
    
    .ir-a-productos {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      width: 15rem;
      height: 3rem;
      border: none;
      border-radius: 10px;
      font-family: "Kdam Thmor Pro", sans-serif;
      font-size: 1.2rem;
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
    .ir-a-productos:hover {
      box-shadow: 2px 2px 20px 12px rgb(35, 48, 193);
    }
    .pie-de-pagina-de-index {
      color: white;
      background-color: rgb(5, 5, 63);
      display: flex;
      justify-content: space-around;
      text-align: start;
      bottom: 0; /* Fija el pie de página en la parte inferior de la ventana */
      width: 100%; /* Ajusta el ancho al 100% de la ventana */
      padding: 0.5rem;
      position: absolute;
      bottom: 0;
    }
    .enlace-a-whatsapp {
      position: fixed;
      display: flex;
      align-items: center;
      flex-direction: column;
      right: 15px;
      bottom: 70px;
    }
    .logo-de-whatsapp,
    .logo-de-instagram {
      width: 50px;
      padding-top: 10px;
    }
  }
  @media (min-width: 992px) {
    .pagina-de-inicio {
      background-image: url(../Imagenes/marketdigitalmain.jpg);
      background-position: center;
      height: 89vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .titulo-del-inicio {
      font-size:7rem;
      color: white;
      padding-bottom: 1rem;
      text-shadow: 3px 3px 10px rgb(35, 48, 193);
    }
    
    .ir-a-productos {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      width: 20rem;
      height: 5rem;
      border: none;
      border-radius: 10px;
      font-family: "Kdam Thmor Pro", sans-serif;
      font-size: 2rem;
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
    .ir-a-productos:hover {
      box-shadow: 2px 2px 20px 12px rgb(35, 48, 193);
    }
    .pie-de-pagina-de-index {
      color: white;
      background-color: rgb(5, 5, 63);
      display: flex;
      justify-content: space-around;
      text-align: start;
      bottom: 0; /* Fija el pie de página en la parte inferior de la ventana */
      width: 100%; /* Ajusta el ancho al 100% de la ventana */
      padding: 0.5rem;
      position: absolute;
      bottom: 0;
    }
    .enlace-a-whatsapp {
      position: fixed;
      display: flex;
      align-items: center;
      flex-direction: column;
      right: 15px;
      bottom: 70px;
    }
    .logo-de-whatsapp,
    .logo-de-instagram {
      width: 50px;
      padding-top: 10px;
    }
  }